<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>K-Cyanne Beckford</h1>
 <p>I am 21 years old, 5ft tall and an avid reader. I am also really passionate about music and anime. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel nibh tristique, consequat augue in, scelerisque orci. Maecenas sapien ex, aliquet vitae porttitor quis, convallis non magna. Curabitur gravida pharetra magna non tincidunt. Aenean eget ante metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean convallis justo ac neque sollicitudin, sit amet lacinia mi bibendum. In tincidunt ligula at enim interdum, vel auctor dui malesuada. Vestibulum laoreet facilisis dui eget cursus. Proin sit amet tempor tortor, vitae elementum dolor. Nullam iaculis tellus et mollis facilisis.</p>
</body>
</html>